/*@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");*/
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Playfair Display", serif;
}

#button {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: 1px;
  margin-right: 2px;
}

body {
  background: #282a2b;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  background: #282a2b;
  padding: 30px 0;
}

.wrapper .sidebar h1 {
  color: white;
  text-align: center;

  margin-bottom: 40px;
}

.wrapper .sidebar ul li {
  padding: 18px;
  border-bottom: 2px solid rgba(225, 225, 225, 0.5);
  border-top: 2px solid rgba(225, 225, 225, 0.5);
}

.wrapper .sidebar ul li {
  color: white;
  display: block;
}

.wrapper .sidebar ul li a {
  color: white;
  display: block;
}

.wrapper .sidebar ul li:hover {
  background: #696969;
  width: 180px;
  height: 59px;
  /*border-top-left-radius: 25%;
  border-top-right-radius: 25%;
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;*/
  border-radius: 30px;
}

.wrapper .sidebar ul li:hover a {
  color: #c0c0c0;
}
